.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.margin-container {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 60px;
}

.container-page {
  display: flex;
  height: 100vh;             /* Ocupa toda la altura de la ventana */
  width: 100vw;              /* Ocupa todo el ancho de la ventana */
  padding: 20px;
}
